body{
    background-image: url("https://img3.wallspic.com/crops/4/4/3/5/6/165344/165344-moon_astrophotography-astrophotography-lunar_calendar-moon_from_space-atmosphere-7680x4320.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: black;
}
.contact{
    border: 3px solid blueviolet;
    border-radius: 5%;
    text-align: center;
    color: grey;
    height: 150px;
    width: 400px;
    padding: 50px;
}