h1{
    text-align: center;
    color: black;
}
body{
    background-image: url("sea.jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;

}
div{
    border: 5px solid black;
    border-radius: 3%;
    width: 300px;
    height: 300px;
    margin-left: 500px;
    box-shadow: 5px 5px 5px 5px snow;

}
form{
    padding: 10px;
}